body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.nav ul {
    list-style: none;
    background-color:#444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-family: 'Oswald',sans-serif;
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover{
    background-color: #005f5f;
}

.nav a.active{
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px){
    .nav li {
        width: 150px;
        border-bottom: none;
        height: 50px;
        font-size: 0.9em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

form { display: table; }
p {display: table-row; }
label { display: table-cell; }
input { display: table-cell; }
