{% extends 'base.html' %}

{% block content %}
  <h2>Add Key</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="id_key_submit_button" type="submit" class="btn btn-default">Add Key</button>
  </form>

  <h2>Your keys</h2>
  <table id="keys_table" class="table-bordered">
  <tr>
    <th>Key Name</th>
    <th>Delete Key</th>
  {% for key in users_keys %}
    <tr><td><p>{{ key.key_name }}</p></td><td class="key_delete"><a href="/keys/delete/{{ key.pk }}/"><p>Delete</p></a></td></tr>
  {% empty %}
  <tr><p>No keys present. Please create a key using the form above</p></tr>
  {% endfor %}
  </table>

{% endblock %}
