{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<h1>Log In</h1>
<form action='/accounts/login/' method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input id="login_button"  type="submit" value="Log In" />
</form>
{% endblock %}
