{% extends 'base.html' %}

{% block title %}Share Document{% endblock %}

{% block content %}
  <h1>Share Document</h2>
  
  <form method="post">
    {% csrf_token %}
    {{ share_form.as_p }}

    <button id="document_share_button_id" type="submit" class="btn btn-default">Share Document</button>
  </form>
{% endblock %}
