{% extends 'base.html' %}

{% block title %}Document{% endblock %}

{% block content %}
  <h1>Document</h1>

  <p><a id="new_document_button" href="/document/create/">Create Document</a></p>

  <hr>
  <table id="documents_table" class="table-bordered" border="2">
    <tr>
      <th>Document Name</th>
      <th>Document Info</th>
      <th>Add Revision</th>
      <th>Delete</th>
      <th>Share</th>
    </tr>
    {% for document in users_documents %}
      <tr>
        <td class="document_name"><p>{{ document.document_name }}</p></td>
        <td class="document_info"><a href="/document/info/{{ document.pk }}/"><p>Document Info</p></a></td>
        <td class="document_revision"><a href="/document/add_revision/{{ document.pk }}/"><p>Add Revision to Document</p></a></td>
        <td class="document_delete"><a href="/document/delete/{{ document.pk }}/"><p>Delete Document</p></a></td>
        <td class="document_share"><a href="/document/share/{{ document.pk }}/"><p>Share Document</p></a></td>

      </tr>
      {% empty %}
        <tr><p>No documents present. Please create a document by clicking on "Create Document"</p></tr>
      {% endfor %}
  </table>

{% endblock %}
